extends layout

block content
  p
    a(href='/posts') Insertar Nuevo Contenido

  h1 Lista de Contenidos:
  
  ul
  each val in posts
    p
    a(href='/posts/' + val.id) Contenido #{val.code} (#{val.id})
  p