extends layout

block content
  h1= title
  p= subtitle
  a(href='posts') Artículos

  //- h1 Lista de Artículos:
  
  //- ul
  //- each val in posts
  //-   p
  //-   a(href='/posts/' + val.id) Artículo #{val.id}
  //- p