doctype
html
  head
    title #{title}
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      //h1 #{title}
      img(src="/images/LOGO_white.png", alt="PalacioSegundoCabo")
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      block out
    footer
      p #{title}. La Habana 2018