doctype
html
  head
    title Palacio Segundo Cabo - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .banner 
        img(src="/images/LOGO_white.png", alt="PalacioSegundoCabo")
      h1 Gestión de Contenidos - Linea de Tiempo
    .container
      .main-content
        block content
      .sidebar
        block sidebar
      block out
    footer
      p Palacio Segundo Cabo. La Habana 2018