extends layout

block content
  p
      a(href='../') Home

  h1 PostList:
  
  ul
  each val in posts
    p
    a(href='/posts/' + val.id) Post #{val.id}
  p
  h1= "Add a post!"
  form(action="/posts" method="POST")
    p Title:
      input(type="text" name="title" placeholder="")
    p Author:
      input(type="text" name="author" placeholder="")
    p Text:
      textarea(name="text" placeholder="" rows="4" cols="60")
    input(type="submit" value="Submit")
