extends layout

block content
  p
      a(href='../') Home

  h1 PostList:
  
  ul
  each val in posts
    p
    a(href='/posts/' + val.id) Post #{val.id}
  p
  h1= "Add a post!"
  form(action="/posts" method="POST")
    p Code:
      input(type="text" name="code" placeholder="")
    p Title:
      textarea(type="text" name="title" placeholder="" rows="1" cols="60")
    p Description:
      textarea(name="description" placeholder="" rows="6" cols="60")
    p Date Mask:
      input(type="text" name="dateMask" placeholder="")
    p Start Date:
      input(type="text" name="startDate" placeholder="")
    p End Date:
      input(type="text" name="endDate" placeholder="")
    input(type="submit" value="Add Post")
