extends layout

block content
  p
      a(href='../') Inicio

  h1 Lista de Artículos:
  
  ul
  each val in posts
    p
    a(href='/posts/' + val.id) Artículo #{val.id}
  p
  h1= "Adicionar un Artículo"
  form(action="/posts" method="POST")
    p Código:
      input(type="text" name="code" placeholder="")
    p Título:
      textarea(type="text" name="title" placeholder="" rows="1" cols="60")
      p Título Inglés:
    textarea(type="text" name="title_en" placeholder="" rows="1" cols="60")
    p Descripción:
      textarea(name="description" placeholder="" rows="6" cols="60")
    p Descripción Inglés:
      textarea(name="description_en" placeholder="" rows="6" cols="60")
    p Máscara de Fecha:
      input(type="text" name="dateMask" placeholder="")
    p Fecha Inicio:
      input(type="text" name="startDate" placeholder="")
    p Fecha Fin:
      input(type="text" name="endDate" placeholder="")
    input(type="submit" value="Aceptar")
